p{
	font-family: "andale mono";
	font-size: 2.0em;
	/*interlineado*/
	line-height: 2;
	text-align: center;
}

h1{
	font-family: arial;
	font-size: 70px;
	/*alineado del texto*/
	text-align: right;
	/*strike, line-through*/
	text-decoration: underline;
}

body{
	font-size: 10px;
}

span{
	/*los em sirven para cambiar en funcion al contenedot (lo que está nested)*/
	font-size: 2.0em;
	font-weight: bold;
}

div{
	/*va de 100 a 800*/
	font-weight: 100;
	font-size: 70px;
	/*anadida con google fonts*/
	font-family: 'Akronim', cursive;
}
