		body{
			font-family: 'Merriweather', serif;
			text-align: center;
			margin: 0 0 0 0;
			background: rgb(100,194,250);
		}
		}
		.header{
			padding: 20px;
			width: 100%;
			background: rgb(56,82,104);
		}
		#mainpreguntas{
			float: left;
			width: 70%;
			padding: 0;
			height:100vh;
			background: rgb(270,244,244);
		}
		.preguntas{
			border-bottom: dashed 5px rgb(56,82,104);
			margin: 30px;
		}
		#preguntatextual{
			font-size: 25px;
			padding: 0 0 0 0;
		}
		#preguntatextual:hover{
			color: rgb(56,82,104);
		}
		#respuesta{
			border-left: solid 3px rgb(0,82,104);
			padding-left: 10px;
			text-align: justify;
			padding-bottom: 10px
		}
		.cursosdestacados{
			float: left;
			padding: 20px;		
			width: 20%;
			background: rgb(100,194,250);
			height:100vh;
		}
		textarea{
			width: 70%;
			height: 210px;

		}